* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #337357;
    --nav-color: white;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*HEADER STYLES*/

header {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    margin: 0;
    font-weight: bold;
    font-size: 36px;
}

header h1 {
    text-align: center;
    text-shadow: 3px 3px 1px black;
}

header h1 a {
    text-decoration: none;
    color: var(--nav-color);
}

header nav {
    margin: 7px 0;
    padding: auto;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header nav ul li a {
    text-decoration: none;
    color: var(--nav-color);
    justify-content: space-between;
    padding: 5px 20px;
    font-size: 1.55vw;
    text-shadow: 3px 3px 1px black;
}

header nav ul li a:hover {
    background-color: #C7EFCF;
    color: black;
    transition: 0.5s;
    text-shadow: none;
    border-bottom: 5px solid black;
}
/*NAVIGATION STYLES*/


/*SECTION STYLES (ALL SECTIONS)*/
.section {
    margin: 15px auto 0 auto;
    width: 100%;
}

.section-title {
    font-size: 48px;
    border-bottom: 5px solid var(--primary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    width: 50%;
}


.flex-style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/*ABOUT ME STYLES*/
.about-me-info {
    background-color: #C7EFCF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.about-img {
    padding-right: 50px;
}

.about-img img {
    max-width: 400px;
    min-width: 150px;
    height: auto;
    margin: 0;
    border: 5px solid black;
    border-radius: 50%;
}

.about-text {
    font-size: 20px;
    text-align: left;
    width: 50%;
    flex-wrap: wrap;
    background-color: white;
    line-height: 1.6;
}

.about-me-info p {
    padding: 15px;
}

/*PORTFOLIO GRID STYLES*/
.work-grid-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.work-grid-container {
    display: grid;
    background-color: #C7EFCF;
    padding: 15px;
    width: 80%;
    grid-template-columns: 1fr repeat(3, 4fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    font-size: 1.2rem;
}

.grid-img {
    width: 100%;
    min-height: 300px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.grid-img::after {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(0,0,0,0.5), rgb(199, 239, 207, 0.7));
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 0.3s;
}

.grid:hover .grid-img::after {
    opacity: 0;
}

.work-1 {
    background-image: url("../images/run-buddy.jpg");
}

.work-2 {
    background-image: url("../images/momo.jpg");
}

.work-3 {
    background-image: url("../images/camera.jpg");
}

.work-4 {
    background-image: url("../images/plant.jpg");
}

.work-5 {
    background-image: url("../images/deer.jpg");
}

.grid-title {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: right;
    z-index: 1;
}

.grid-item-1 {
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    height: 100%;
    width: 100%;
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
}

.grid-item-2 {
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    height: 100%;
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 2 / 2;
}

.grid-item-3 {
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    height: 100%;
    width: 100%;
    grid-column: 3 / span 1;
    grid-row: 2 / 2;
}

.grid-item-4 {
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    height: 100%;
    width: 100%;
    grid-column: 4 / span 1;
    grid-row: 1 / 2;
}

.grid-item-5 {
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    height: 100%;
    width: 100%;
    grid-column: 4/ span 1;
    grid-row: 2 / 2;
}

/*CONTACT ME STYLES*/
.contact-info {
    font-size: 25px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #C7EFCF;
    padding: 100px;
}

.contact-info h3 {
    margin: 10px;
    padding-right: 15px;
}

.contact-info ul {
    padding: 15px;
}

.contact-info ul li {
    list-style: none;
    text-align: left;
}

.contact-info ul li a {
    text-decoration: none;
}


/*FOOTER STYLES*/

footer {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 5px;
    margin: 0;
    font-weight: bold;
    font-size: 1.55vw;
}

